.Logement {
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Logement .collapses {
    display: flex;
    justify-content: center;
    gap: 76px;
}

@media (max-width: 768px) {
    .Logement {
        padding: 38px 35px;
        margin-bottom: 35px;
    }

    .Logement .collapses {
        flex-direction: column;
        gap: 20px;
    }
}