header {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    align-items: center;
    flex-wrap: wrap;
}

.Logo {
    width: 210px;
    height: 68px;
}

.navbar {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    gap: 57px;

    & a {
        border: solid 3px transparent;
    }

    & a:hover {
        border-bottom: solid 3px #ff6060;
    }
}

/*Media queries*/

@media (max-width: 768px) {
    header {
        padding: 30px 26px;
    }

    .navbar {
        text-transform: uppercase;
        font-size: 17px;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .navbar {
        font-size: 12px;
        gap: 16px;
    }

    .Logo {
        width: 160px;
        height: 50px;
    }
}